<style>
    #s {
        position: absolute;
        z-index: 100;
    }
    
    
    #s svg polygon {
        fill:rgba(1, 1, 1, 0.1);
        stroke:yellow;
        stroke-width:3;
    }
    

</style>

<script>
    var requireJS = ['assets/js/libs/jquery-ui.min.js'];
    loadJS(requireJS, "assets/js/views/floor.js");
</script>



<div id="floor-container" class="animated fadeIn">
    <div class="draggable-container">
       
        <img class="svg" width="0"/>
        
        
        <div id="s">
            <svg>
                <polygon points="0,0 390,0 390,264 0,264"  />
            </svg>
        </div>
    </div>
</div>
