<style>
    #s {
        position: absolute;
        z-index: 100;
    }
    
    
    #s svg polygon {
        fill:rgba(1, 1, 1, 0.1);
        stroke:yellow;
        stroke-width:3;
    }
    
    #floor-container {
        overflow: hidden;
        position: relative
    }
    
    #ctn {
        width: 100%;
        position: relative;
    }
</style>

<script>
    var requireJS = ['assets/js/libs/jquery-ui.min.js'];
    loadJS(requireJS, "assets/js/views/floor.js");
</script>

<div id="current-title" hidden>Parter</div>
<div id="current-desc" hidden>Promienko parter</div>


<div id="floor-container" class="animated fadeIn">
    <div id="ctn" class="draggable-container">
       
        <img class="svg" src="http://controlby.webkameleon.com/parter.svg" width="0" style="position: absolute; top:0; left:0; z-index: 10"/>
        
        
        <div id="s">
            <svg>
                <polygon points="0,0 390,0 390,264 0,264"  />
            </svg>
        </div>
    </div>
</div>
