.after-login {
    display: none !important;
}

.project-avatar,
body:not(.top-nav) .sidebar .sidebar-header .img-avatar{
    width: 120px;
    margin: 20px auto 10px;
    border-radius: 50%;
}

.project-avatar {
    cursor: pointer;
}

.add-item {
    text-align: right;
}

.add-item a {
    background-color: #20a8d8;
    border-radius: 50%;
    padding: 1.5em;
    display: inline-block;
    margin-bottom: 30px;
}

.add-item a:hover {
    text-decoration: none;
    opacity: 0.5;
}
.add-item a:active,.add-item a:focus {
    text-decoration: none;
}

.add-item a:hover i {
    color: #000;
}

.add-item a i {
    color: white;
    font-size: 3em;
}

#project-structure {
    margin-top: 20px;
}

#project-structure input {
    width: 80%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
}
#project-structure input:focus {
    outline: none;
}

.project .form-actions {
    margin-left: 3px;
}

#left-sidebar .nav-dropdown-items li {
    margin-left: 10px;
}

#floor-container {
    overflow: hidden;
    position: relative;
    width:100%;
    padding: 0;
}

#floor-container .draggable-container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
}


#floor-container .draggable-container:active {
    cursor: move;
}

#floor-container .draggable-container .polygon-dot {
    position: absolute;
}


#floor-container .draggable-container .polygon {
    position: absolute;
    z-index: 100;
}

#floor-container .draggable-container .polygon svg {
    width: 100%;
    height: 100%;
}

#floor-container .draggable-container .polygon svg polygon {
    fill:rgba(1, 1, 1, 0.1);
    stroke:yellow;
    stroke-width:2;
    width: 100%;
    height: 100%;    
}

.breadcrumb .breadcrumb-menu .active {
    color: #20a8d8
}

#edit-element .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}

#edit-element .img-input img {
    max-width: 200px;
}

#edit-element .btn-danger {
    float: left;
}

#edit-device .modal-header input {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none; 
}

#edit-device .img-input {
    cursor: pointer;
    padding: 3px;
    border: solid 1px #808080;
}

#edit-device .img-input img {
    max-width: 80px;
}
 