@media print {
    
    .navbar {
        display: none;
    }
    
    .sidebar {
        display: none;
    }
    
    .main {
        display: block;
    }
    
    .aside-menu {
        display: none;
    }
    
    .footer {
        display: none;
    }
}